# Core scientific computing
numpy==1.19.5
scipy==1.6.3
matplotlib==3.3.4
h5py==3.1.0

# Bayesian inference and modeling
theano==1.0.5
pymc3==3.9.3
pymc3-ext==0.1.0
starry==1.0.0

# Data analysis and visualization
corner==2.2.1
arviz==0.11.4

# Data handling
dill==0.3.4
netCDF4==1.5.7
